* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
header #box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
}
header #box .logo-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 266px;
}
header #box .logo-links .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header #box .logo-links .logo img {
  width: 50px;
  height: 35px;
}
header #box .logo-links .logo span {
  font-family: "Montserrat";
  padding-left: 10px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
header #box .logo-links nav {
  display: flex;
  align-items: center;
  gap: 76px;
}
header #box .logo-links nav a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: black;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}
header #box .logo-links nav a:hover {
  color: rgb(195, 154, 22);
  transform: scale(1.1);
}
header #box #cart-icon span {
  font-size: 28px;
  cursor: pointer;
  transition: all 0.4s ease;
}
header #box #cart-icon span:hover {
  transform: scale(1.1);
  color: rgb(195, 154, 22);
}
header #cart-menu {
  width: 417px;
  height: auto;
  display: flex;
  position: fixed;
  top: 0;
  right: -417px;
  z-index: 900;
  background-color: white;
  box-shadow: 70px 0px 60px rgba(0, 0, 0, 0.105);
  transition: all 0.3s linear;
  flex-direction: column;
}
header #cart-menu.open {
  right: 0;
}
header #cart-menu .h1-close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 30px;
}
header #cart-menu .h1-close-icon h1 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  padding-right: 110px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 28px;
  color: #000000;
}
header #cart-menu .h1-close-icon i {
  padding-left: 42px;
  font-size: 20px;
  padding-bottom: 28px;
  cursor: pointer;
}
header #cart-menu .cart-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 42px;
  height: 300px;
  overflow: auto;
}
header #cart-menu .cart-list .product-added {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
header #cart-menu .cart-list .product-added .item-added-photo {
  padding-right: 35px;
}
header #cart-menu .cart-list .product-added .item-added-photo img {
  width: 105px;
  height: 105px;
  border-radius: 10px;
}
header #cart-menu .cart-list .product-added .detalii-add-to {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-right: 60px;
  width: 130px;
}
header #cart-menu .cart-list .product-added .detalii-add-to h6 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
header #cart-menu .cart-list .product-added .detalii-add-to .price-total-per-product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
header #cart-menu .cart-list .product-added .detalii-add-to .price-total-per-product .quantity-added {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #000;
  padding-right: 15px;
}
header #cart-menu .cart-list .product-added .detalii-add-to .price-total-per-product .ori {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #000000;
  padding-right: 15px;
}
header #cart-menu .cart-list .product-added .detalii-add-to .price-total-per-product .total-price-one-p {
  font-family: "Poppins";
  color: #b88e2f;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}
header #cart-menu .subtotal {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 101px;
  border-bottom: 1px solid #d9d9d9;
  padding: 23px 0;
}
header #cart-menu .subtotal h4 {
  padding-left: 40px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000;
}
header #cart-menu .subtotal p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #b88e2f;
}
header #cart-menu .checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 26px 0px;
  gap: 14px;
}
header #cart-menu .checkout button {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #000;
  padding: 6px 30px;
  border-radius: 50px;
  background: transparent;
  border: 1px solid #000000;
  cursor: pointer;
}
header #cart-menu .checkout button:hover {
  border: 1px solid white;
  color: white;
  background-color: #806422;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.168627451);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .upper-part {
  padding: 48px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 80%;
}
footer .upper-part .adress {
  padding-right: 136px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 50px;
}
footer .upper-part .adress h3 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #000000;
}
footer .upper-part .adress p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #9f9f9f;
}
footer .upper-part .information {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 144px;
}
footer .upper-part .information #links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 55px;
  flex-direction: column;
}
footer .upper-part .information #links h3 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #9f9f9f;
}
footer .upper-part .information #links ul {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
footer .upper-part .information #links ul li {
  list-style-type: none;
}
footer .upper-part .information #links ul li a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}
footer .upper-part .information #help {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 55px;
  flex-direction: column;
  padding-right: 72px;
}
footer .upper-part .information #help h3 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #9f9f9f;
}
footer .upper-part .information #help ul {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
footer .upper-part .information #help ul li {
  list-style-type: none;
}
footer .upper-part .information #help ul li a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}
footer .upper-part .newsletter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 60px;
}
footer .upper-part .newsletter h3 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #9f9f9f;
}
footer .upper-part .newsletter form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 11px;
}
footer .upper-part .newsletter form input {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #9f9f9f;
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;
}
footer .upper-part .newsletter form input:focus {
  border-bottom: 1px solid #000000; /* Keep it black on focus */
}
footer .upper-part .newsletter form button {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #000000;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;
}
footer .upper-part .newsletter form button:hover {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
}
footer .bottom-part {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  border-top: 1px solid #d9d9d9;
}
footer .bottom-part div {
  padding: 35px 0;
}
footer .bottom-part div h4 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

#home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#home-page .banner-1 {
  background-image: url(./photos/banner-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 716.83px;
}
#home-page .banner-1 .discover {
  position: absolute;
  width: 643px;
  height: 443px;
  top: 254px;
  right: 57px;
  border-radius: 10px;
  background-color: #fff3e3;
}
#home-page .banner-1 .discover .text-new {
  display: flex;
  flex-direction: column;
  padding: 62px 39px 37px 43px;
}
#home-page .banner-1 .discover .text-new h6 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 3px;
  text-align: left;
  color: #333333;
  margin-bottom: 4px;
}
#home-page .banner-1 .discover .text-new h2 {
  font-family: "Poppins";
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  text-align: left;
  color: #b88e2f;
}
#home-page .banner-1 .discover .text-new p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 46px;
  margin-top: 17px;
}
#home-page .banner-1 .discover .text-new button {
  max-width: 230px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  padding: 25px 75px;
  background-color: #b88e2f;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: all 0.3s linear;
}
#home-page .banner-1 .discover .text-new button:hover {
  background-color: #6f5414;
  transform: scale(1.05);
}
#home-page .our-products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 59.47px 0 81px 0;
  gap: 32px;
}
#home-page .our-products h2 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  padding-bottom: 32px;
}
#home-page .our-products .show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: #ffffff;
  border: 1px solid #b88e2f;
  color: #b88e2f;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  width: 245px;
  height: 48px;
  cursor: pointer;
  transition: all 0.3s linear;
}
#home-page .our-products .show-more:hover {
  background-color: #6f5414;
  color: #ffffff;
}
#home-page .our-products .p-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
#home-page .our-products .p-box .card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 446px;
  overflow: hidden;
  position: relative;
}
#home-page .our-products .p-box .card .item {
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;
}
#home-page .our-products .p-box .card .item img {
  width: 285px;
  height: 301px;
}
#home-page .our-products .p-box .card .item .info {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 30px 16px;
  height: 99px;
}
#home-page .our-products .p-box .card .item .info h4 {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 8px;
  color: #3a3a3a;
}
#home-page .our-products .p-box .card .item .info h6 {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #898989;
}
#home-page .our-products .p-box .card .item .info p {
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #3a3a3a;
}
#home-page .our-products .p-box .card .hover {
  background-color: rgba(58, 58, 58, 0.75);
  width: 285px;
  height: 446px;
  position: absolute;
  display: grid;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
#home-page .our-products .p-box .card .hover .arrage-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#home-page .our-products .p-box .card .hover .arrage-buttons button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  background-color: #ffffff;
  color: #b88e2f;
  padding: 12px 59px;
  border: none;
  cursor: pointer;
}
#home-page .our-products .p-box .card .hover .arrage-buttons button:hover {
  transform: scale(1.05);
  color: #806422;
}
#home-page .our-products .p-box .card .hover .arrage-buttons .links-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 24px;
  gap: 20px;
  cursor: pointer;
}
#home-page .our-products .p-box .card .hover .arrage-buttons .links-icons .hover-icon {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.3s ease-in;
}
#home-page .our-products .p-box .card .hover .arrage-buttons .links-icons .hover-icon:hover {
  transform: scale(1.1);
}
#home-page .our-products .p-box .card:hover .hoverd {
  opacity: 1;
  visibility: visible;
}

#shop-page {
  display: none;
  flex-direction: column;
}
#shop-page .banner-2 {
  background-image: url("./photos/banner-2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 316px;
}
#shop-page .banner-2 .shop-bread-crumb {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 316px;
  flex-direction: column;
}
#shop-page .banner-2 .shop-bread-crumb h2 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  color: #000000;
}
#shop-page .banner-2 .shop-bread-crumb .bread-c a {
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-right: 6px;
  color: #000000;
}
#shop-page .banner-2 .shop-bread-crumb .bread-c i {
  font-size: 14px;
  padding-right: 6px;
}
#shop-page .banner-2 .shop-bread-crumb .bread-c span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
#shop-page .display-number {
  display: flex;
  align-items: center;
  background-color: #f9f1e7;
  justify-content: center;
}
#shop-page .display-number .showing-nr-p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  padding: 37px 0;
}
#shop-page .display-number .showing-nr-p p {
  border-left: 2px solid #9f9f9f;
  padding-left: 34px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
#shop-page #products-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 46px 0;
}
#shop-page #products-display .p-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
#shop-page #products-display .p-box .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 446px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#shop-page #products-display .p-box .card .item {
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;
}
#shop-page #products-display .p-box .card .item img {
  width: 285px;
  height: 301px;
}
#shop-page #products-display .p-box .card .item .info {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 30px 16px;
  height: 99px;
}
#shop-page #products-display .p-box .card .item .info h4 {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 8px;
  color: #3a3a3a;
}
#shop-page #products-display .p-box .card .item .info h6 {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #898989;
}
#shop-page #products-display .p-box .card .item .info p {
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #3a3a3a;
}
#shop-page #products-display .p-box .card .hover {
  background-color: rgba(58, 58, 58, 0.75);
  width: 285px;
  height: 446px;
  position: absolute;
  display: grid;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
#shop-page #products-display .p-box .card .hover .arrage-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#shop-page #products-display .p-box .card .hover .arrage-buttons button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  background-color: #ffffff;
  color: #b88e2f;
  padding: 12px 59px;
  border: none;
  cursor: pointer;
}
#shop-page #products-display .p-box .card .hover .arrage-buttons button:hover {
  transform: scale(1.05);
  color: #806422;
}
#shop-page #products-display .p-box .card .hover .arrage-buttons .links-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 24px;
  gap: 20px;
  cursor: pointer;
}
#shop-page #products-display .p-box .card .hover .arrage-buttons .links-icons .hover-icon {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #ffffff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.3s ease-in;
}
#shop-page #products-display .p-box .card .hover .arrage-buttons .links-icons .hover-icon:hover {
  transform: scale(1.1);
}
#shop-page #products-display .p-box .card:hover .hoverd {
  opacity: 1;
  visibility: visible;
}
#shop-page #products-display .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 40px;
  gap: 38px;
}
#shop-page #products-display .buttons button {
  margin-top: 30px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #f9f1e7;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: black;
  align-items: center;
}
#shop-page #products-display .buttons button:nth-of-type(1) {
  background-color: #b88e2f;
  color: #ffffff;
}
#shop-page #products-display .buttons button:nth-of-type(4) {
  width: 98px;
}
#shop-page #products-display .buttons button:hover {
  background-color: #b88e2f;
  color: #ffffff;
}

#single-product-page {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#single-product-page .display-number-bread-c {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f9f1e7;
  padding: 31px 0;
}
#single-product-page .display-number-bread-c div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}
#single-product-page .display-number-bread-c div a {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9f9f9f;
  text-decoration: none;
  padding-right: 14px;
}
#single-product-page .display-number-bread-c div i {
  font-size: 20px;
  padding-right: 31px;
}
#single-product-page .display-number-bread-c div span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  padding-left: 34px;
  border-left: 2px solid #9f9f9f;
}
#single-product-page #single-product {
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
#single-product-page #single-product .photos-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  width: 76px;
  height: 416px;
  padding-right: 31px;
}
#single-product-page #single-product .photos-aside div {
  width: 76px;
  height: 80px;
  overflow: hidden;
  border-radius: 10px;
}
#single-product-page #single-product .photos-aside div img {
  width: 76px;
  height: 80px;
}
#single-product-page #single-product .image-product img {
  width: 423px;
  height: 500px;
  border-radius: 10px;
}
#single-product-page #single-product .detalii {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 105px;
}
#single-product-page #single-product .detalii .detalii-produs {
  border-bottom: 1px solid #d9d9d9;
  width: 606.01px;
}
#single-product-page #single-product .detalii .detalii-produs .text-important h2 {
  font-family: "Poppins";
  font-size: 42px;
  font-weight: 400;
  line-height: 63px;
  color: black;
}
#single-product-page #single-product .detalii .detalii-produs .text-important h4 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: #9f9f9f;
  padding-bottom: 15px;
}
#single-product-page #single-product .detalii .detalii-produs .text-important .review {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 13px;
}
#single-product-page #single-product .detalii .detalii-produs .text-important .review i {
  height: 18px;
  width: 18px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#single-product-page #single-product .detalii .detalii-produs .text-important .review i:nth-of-type(5) {
  padding-right: 18px;
}
#single-product-page #single-product .detalii .detalii-produs .text-important .review span {
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  border-left: 1px solid #9f9f9f;
  padding-left: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  color: #9f9f9f;
}
#single-product-page #single-product .detalii .detalii-produs .text-important .review p {
  padding-left: 5px;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: #9f9f9f;
}
#single-product-page #single-product .detalii .detalii-produs .description {
  width: 424px;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  color: #000000;
  padding-bottom: 22px;
}
#single-product-page #single-product .detalii .detalii-produs .size {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}
#single-product-page #single-product .detalii .detalii-produs .size h6 {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #9f9f9f;
  padding-bottom: 12px;
}
#single-product-page #single-product .detalii .detalii-produs .size .sizes button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #f9f1e7;
  border: none;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  color: #000000;
  margin-right: 16px;
  transition: all 0.1s ease-out;
}
#single-product-page #single-product .detalii .detalii-produs .size .sizes .active {
  background-color: #b88e2f;
  color: #ffffff;
  transition: all 0.4s ease-in;
}
#single-product-page #single-product .detalii .detalii-produs .color {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
#single-product-page #single-product .detalii .detalii-produs .color h6 {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #9f9f9f;
  padding-bottom: 12px;
}
#single-product-page #single-product .detalii .detalii-produs .color .colors button {
  padding-right: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  transition: all 0.3s ease;
}
#single-product-page #single-product .detalii .detalii-produs .color .colors .silver {
  background-color: silver;
}
#single-product-page #single-product .detalii .detalii-produs .color .colors .rose {
  background-color: rgb(242, 153, 222);
}
#single-product-page #single-product .detalii .detalii-produs .color .colors .gold {
  background-color: gold;
}
#single-product-page #single-product .detalii .detalii-produs .color .colors .border {
  transform: scale(1.1);
  border: 1px solid black;
}
#single-product-page #single-product .detalii .detalii-produs .btns-cart {
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}
#single-product-page #single-product .detalii .detalii-produs .btns-cart .quantity-selector {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 123px;
  height: 64px;
  gap: 35px;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
}
#single-product-page #single-product .detalii .detalii-produs .btns-cart .quantity-selector button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  border: none;
  cursor: pointer;
  background: transparent;
}
#single-product-page #single-product .detalii .detalii-produs .btns-cart .style {
  width: 215px;
  height: 64px;
  border: 1px solid #000000;
  border-radius: 15px;
  background: transparent;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}
#single-product-page #single-product .detalii .detalii-produs .btns-cart .style:hover {
  background-color: #b88e2f;
  color: white;
  border: 1px solid white;
}
#single-product-page #single-product .detalii .category {
  padding: 41px 0 75px 0;
}
#single-product-page #single-product .detalii .category .sku span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9f9f9f;
}
#single-product-page #single-product .detalii .category .sku span:nth-of-type(1) {
  padding-right: 86px;
}
#single-product-page #single-product .detalii .category .jewelery span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #9f9f9f;
}
#single-product-page #single-product .detalii .category .jewelery span:nth-of-type(1) {
  padding-right: 16px;
}
#single-product-page #single-product .detalii .category .jewelery span:nth-of-type(2) {
  padding-right: 12px;
}

#cart-checkout {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#cart-checkout .banner-2-chechout {
  background-image: url("./photos/banner-2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 316px;
}
#cart-checkout .banner-2-chechout .checkout-text-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  height: 316px;
  flex-direction: column;
}
#cart-checkout .banner-2-chechout .checkout-text-middle h1 {
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 500;
  line-height: 72px;
  color: #000;
}
#cart-checkout .banner-2-chechout .checkout-text-middle .bread-crumb-chechout .home-link {
  color: #000;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
#cart-checkout .banner-2-chechout .checkout-text-middle .bread-crumb-chechout i {
  padding: 0 6px;
  font: 20px;
}
#cart-checkout .banner-2-chechout .checkout-text-middle .bread-crumb-chechout span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #000000;
}
#cart-checkout .information-order {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 200px;
  padding-top: 63px;
}
#cart-checkout .information-order .form-costumer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 35px 75px 0;
  gap: 36px;
}
#cart-checkout .information-order .form-costumer h2 {
  font-family: "Poppins";
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  text-align: left;
  color: #000;
}
#cart-checkout .information-order .form-costumer form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 36px;
}
#cart-checkout .information-order .form-costumer form .first-last-name {
  display: flex;
  flex-direction: row;
  gap: 31px;
}
#cart-checkout .information-order .form-costumer form .first-last-name div {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
#cart-checkout .information-order .form-costumer form .first-last-name div label {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000;
}
#cart-checkout .information-order .form-costumer form .first-last-name div input {
  width: 209.4px;
  height: 73.4px;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000;
  padding-left: 10px;
}
#cart-checkout .information-order .form-costumer form div {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
#cart-checkout .information-order .form-costumer form div label {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000;
}
#cart-checkout .information-order .form-costumer form div input {
  width: 453px;
  height: 73.4px;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000;
  padding-left: 10px;
}
#cart-checkout .information-order .cart-checkout-total {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 608px;
  padding: 87px 37px;
}
#cart-checkout .information-order .cart-checkout-total .products-total {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#cart-checkout .information-order .cart-checkout-total .products-total .text-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  gap: 336px;
}
#cart-checkout .information-order .cart-checkout-total .products-total .text-product h3 {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  color: #000000;
}
#cart-checkout .information-order .cart-checkout-total .products-total .cart-list-check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 22px;
}
#cart-checkout .information-order .cart-checkout-total .products-total .cart-list-check::-webkit-scrollbar {
  background: rgba(222, 217, 221, 0.6352941176);
  border-radius: 10px;
}
#cart-checkout .information-order .cart-checkout-total .products-total .cart-list-check::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
#cart-checkout .information-order .cart-checkout-total .products-total .cart-list-check .cart-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}
#cart-checkout .information-order .cart-checkout-total .products-total .cart-list-check .cart-display .name-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 11px;
}
#cart-checkout .information-order .cart-checkout-total .products-total .cart-list-check .cart-display .name-quantity h4 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #9f9f9f;
}
#cart-checkout .information-order .cart-checkout-total .products-total .cart-list-check .cart-display .name-quantity span {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #000;
}
#cart-checkout .information-order .cart-checkout-total .products-total .cart-list-check .cart-display .name-quantity p {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  color: #000;
}
#cart-checkout .information-order .cart-checkout-total .products-total .cart-list-check .cart-display span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000;
}
#cart-checkout .information-order .cart-checkout-total .products-total .subtotal-checkout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 22px;
}
#cart-checkout .information-order .cart-checkout-total .products-total .subtotal-checkout h5 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000;
}
#cart-checkout .information-order .cart-checkout-total .products-total .subtotal-checkout span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #000;
}
#cart-checkout .information-order .cart-checkout-total .products-total .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 39px;
  border-bottom: 1px solid #d9d9d9;
}
#cart-checkout .information-order .cart-checkout-total .products-total .total h5 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000;
}
#cart-checkout .information-order .cart-checkout-total .products-total .total span {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #b88e2f;
}
#cart-checkout .information-order .cart-checkout-total .order-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#cart-checkout .information-order .cart-checkout-total .order-section .chas-deliver {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding-top: 22px;
}
#cart-checkout .information-order .cart-checkout-total .order-section .chas-deliver form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
#cart-checkout .information-order .cart-checkout-total .order-section .chas-deliver form label {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
#cart-checkout .information-order .cart-checkout-total .order-section .chas-deliver form label h3 {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000;
}
#cart-checkout .information-order .cart-checkout-total .order-section .chas-deliver form label input[type=radio] {
  accent-color: black;
  transform: scale(1.1);
}
#cart-checkout .information-order .cart-checkout-total .order-section .chas-deliver form label input[type=radio]:checked {
  accent-color: black;
}
#cart-checkout .information-order .cart-checkout-total .order-section .chas-deliver form label input[type=radio]:hover {
  accent-color: gray;
}
#cart-checkout .information-order .cart-checkout-total .order-section .submit-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 60px;
}
#cart-checkout .information-order .cart-checkout-total .order-section .submit-order p {
  padding-bottom: 39px;
  width: 529px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
  color: #000;
}
#cart-checkout .information-order .cart-checkout-total .order-section .submit-order p span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: justify;
  color: #000;
}
#cart-checkout .information-order .cart-checkout-total .order-section .submit-order .sumbitorderbtn {
  cursor: pointer;
  width: 318px;
  height: 64px;
  border-radius: 15px;
  background: transparent;
  color: #000;
  border: 1px solid #000000;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  transition: all 0.3s ease-in;
}
#cart-checkout .information-order .cart-checkout-total .order-section .submit-order .sumbitorderbtn:hover {
  background-color: #b88e2f;
  color: white;
  border: 1px solid #ffffff;
}

/* Extra Small Devices (Mobile Portrait) - up to 480px */
@media only screen and (max-width: 480px) {
  header #box .logo-links .logo img {
    display: none;
  }
  header #box .logo-links .logo span {
    font-size: 13px;
  }
  header #box .logo-links nav {
    display: none;
  }
  header #box #cart-icon span {
    font-size: 20px;
  }
  footer .upper-part {
    display: none;
  }
  #home-page .banner-1 {
    background-position: center;
  }
  #home-page .banner-1 .discover {
    display: none;
  }
  #home-page .our-products .p-box {
    gap: 10%;
    row-gap: 40px;
  }
  #shop-page .banner-2 {
    background-position: center;
  }
  #shop-page #products-display .p-box {
    gap: 10%;
    row-gap: 40px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header #box .logo-links {
    gap: 0;
    width: 70%;
  }
  footer .upper-part .newsletter {
    display: none;
  }
  #home-page .banner-1 .discover {
    max-width: 500px;
    max-height: 400px;
  }
  #home-page .banner-1 .discover .text-new {
    padding: 30px;
  }
  #home-page .banner-1 .discover .text-new h6 {
    font-size: 13px;
  }
  #home-page .banner-1 .discover .text-new h2 {
    font-size: 35px;
    line-height: 50px;
  }
  #home-page .banner-1 .discover .text-new p {
    font-size: 15px;
  }
  #home-page .banner-1 .discover .text-new button {
    max-width: 190px;
    padding: 25px 40px;
  }
  #home-page .our-products .p-box {
    gap: 10%;
    row-gap: 40px;
  }
  #shop-page .banner-2 {
    background-position: center;
  }
  #shop-page #products-display .p-box {
    gap: 10%;
    row-gap: 40px;
  }
}
/* Large Devices (Laptops) - 1025px to 1200px */
@media only screen and (min-width: 769px) and (max-width: 1300px) {
  header #box .logo-links {
    gap: 0;
    width: 70%;
  }
  #home-page .our-products .p-box .card:nth-of-type(2) {
    display: none;
  }
  #shop-page .banner-2 {
    background-position: center;
  }
  #shop-page #products-display .p-box {
    gap: 10%;
    row-gap: 40px;
  }
}/*# sourceMappingURL=style.css.map */