* {
  padding: 0;
  margin: 0;
}
$font-Montserrat: "Montserrat";
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  #box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    .logo-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 266px;
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 50px;
          height: 35px;
        }
        span {
          font-family: $font-Montserrat;
          padding-left: 10px;
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 700;
          text-align: left;
        }
      }
      nav {
        display: flex;
        align-items: center;
        gap: 76px;
        a {
          text-decoration: none;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          color: black;
          cursor: pointer;
          transition: color 0.3s ease, transform 0.3s ease;
          &:hover {
            color: rgb(195, 154, 22);
            transform: scale(1.1);
          }
        }
      }
    }
    #cart-icon {
      span {
        font-size: 28px;
        cursor: pointer;
        transition: all 0.4s ease;
        &:hover {
          transform: scale(1.1);
          color: rgb(195, 154, 22);
        }
      }
    }
  }
  #cart-menu {
    width: 417px;
    height: auto;
    display: flex;
    position: fixed;
    top: 0;
    right: -417px;
    z-index: 900;
    background-color: white;
    box-shadow: 70px 0px 60px rgba(0, 0, 0, 0.105);
    transition: all 0.3s linear;
    flex-direction: column;

    &.open {
      right: 0;
    }
    .h1-close-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding-top: 30px;

      h1 {
        font-family: "Poppins";
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        padding-right: 110px;
        border-bottom: 1px solid #d9d9d9;
        padding-bottom: 28px;
        color: #000000;
      }
      i {
        padding-left: 42px;
        font-size: 20px;
        padding-bottom: 28px;
        cursor: pointer;
      }
    }
    .cart-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 42px;
      height: 300px;
      overflow: auto;

      .product-added {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
        .item-added-photo {
          padding-right: 35px;
          img {
            width: 105px;
            height: 105px;
            border-radius: 10px;
          }
        }
        .detalii-add-to {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          padding-right: 60px;
          width: 130px;
          h6 {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #000000;
          }
          .price-total-per-product {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            .quantity-added {
              font-family: "Poppins";
              font-size: 16px;
              font-weight: 300;
              line-height: 24px;
              color: #000;
              padding-right: 15px;
            }
            .ori {
              font-family: "Poppins";
              font-size: 12px;
              font-weight: 300;
              line-height: 18px;
              color: #000000;
              padding-right: 15px;
            }
            .total-price-one-p {
              font-family: "Poppins";
              color: #b88e2f;
              font-size: 12px;
              font-weight: 500;
              line-height: 18px;
              text-align: left;
            }
          }
        }
      }
    }
    .subtotal {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      gap: 101px;
      border-bottom: 1px solid #d9d9d9;
      padding: 23px 0;
      h4 {
        padding-left: 40px;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #000;
      }
      p {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        color: #b88e2f;
      }
    }
    .checkout {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 26px 0px;
      gap: 14px;
      button {
        font-family: "Poppins";
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        color: #000;
        padding: 6px 30px;
        border-radius: 50px;
        background: transparent;
        border: 1px solid #000000;
        cursor: pointer;
        &:hover {
          border: 1px solid white;
          color: white;
          background-color: #806422;
        }
      }
    }
  }
}

footer {
  border-top: 1px solid #0000002b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .upper-part {
    padding: 48px 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 80%;

    .adress {
      padding-right: 136px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 50px;
      h3 {
        font-family: "Poppins";
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
        color: #000000;
      }
      p {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #9f9f9f;
      }
    }
    .information {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: row;
      gap: 144px;
      #links {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 55px;
        flex-direction: column;
        h3 {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          color: #9f9f9f;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 45px;
          li {
            list-style-type: none;
            a {
              text-decoration: none;
              font-family: "Poppins";
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              color: #000000;
            }
          }
        }
      }
      #help {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 55px;
        flex-direction: column;
        padding-right: 72px;
        h3 {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          color: #9f9f9f;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 45px;
          li {
            list-style-type: none;
            a {
              text-decoration: none;
              font-family: "Poppins";
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              color: #000000;
            }
          }
        }
      }
    }
    .newsletter {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 60px;
      h3 {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
        color: #9f9f9f;
      }
      form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 11px;
        input {
          font-family: "Poppins";
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: left;
          color: #9f9f9f;
          border: none;
          outline: none;
          border-bottom: 2px solid #000000;
          &:focus {
            border-bottom: 1px solid #000000; /* Keep it black on focus */
          }
        }
        button {
          font-family: "Poppins";
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          text-align: left;
          color: #000000;
          background: transparent;
          border: none;
          outline: none;
          border-bottom: 2px solid #000000;
          &:hover {
            border: none;
            outline: none;
            border-bottom: 1px solid #000000;
          }
        }
      }
    }
  }
  .bottom-part {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    border-top: 1px solid #d9d9d9;
    div {
      padding: 35px 0;
      h4 {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #000000;
      }
    }
  }
}

//Home-Page
#home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .banner-1 {
    background-image: url(./photos/banner-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 716.83px;

    .discover {
      position: absolute;
      width: 643px;
      height: 443px;
      top: 254px;
      right: 57px;
      border-radius: 10px;
      background-color: #fff3e3;
      .text-new {
        display: flex;
        flex-direction: column;
        padding: 62px 39px 37px 43px;
        h6 {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 3px;
          text-align: left;
          color: #333333;
          margin-bottom: 4px;
        }
        h2 {
          font-family: "Poppins";
          font-size: 52px;
          font-weight: 700;
          line-height: 65px;
          text-align: left;
          color: #b88e2f;
        }
        p {
          font-family: "Poppins";
          font-size: 18px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          color: #333333;
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 46px;
          margin-top: 17px;
        }
        button {
          max-width: 230px;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 700;
          color: #ffffff;
          padding: 25px 75px;
          background-color: #b88e2f;
          text-transform: uppercase;
          border: none;
          cursor: pointer;
          transition: all 0.3s linear;
          &:hover {
            background-color: #6f5414;
            transform: scale(1.05);
          }
        }
      }
    }
  }

  .our-products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 59.47px 0 81px 0;
    gap: 32px;
    h2 {
      font-family: "Poppins";
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      text-align: center;
      padding-bottom: 32px;
    }
    .show-more {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      background-color: #ffffff;
      border: 1px solid #b88e2f;
      color: #b88e2f;
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
      width: 245px;
      height: 48px;
      cursor: pointer;
      transition: all 0.3s linear;
      &:hover {
        background-color: #6f5414;
        color: #ffffff;
      }
    }
    .p-box {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 32px;
      .card {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 285px;
        height: 446px;
        overflow: hidden;
        position: relative;

        .item {
          display: flex;
          flex-direction: column;
          background-color: #f4f5f7;
          img {
            width: 285px;
            height: 301px;
          }
          .info {
            display: flex;
            flex-direction: column;
            padding: 16px 16px 30px 16px;
            height: 99px;

            h4 {
              font-family: "Poppins";
              font-size: 15px;
              font-weight: 600;
              text-align: left;
              margin-bottom: 8px;
              color: #3a3a3a;
            }
            h6 {
              font-family: "Poppins";
              font-size: 12px;
              font-weight: 500;
              line-height: 24px;
              text-align: left;
              color: #898989;
            }
            p {
              font-family: "Poppins";
              font-size: 17px;
              font-weight: 600;
              line-height: 30px;
              text-align: left;
              color: #3a3a3a;
            }
          }
        }
        .hover {
          background-color: rgba(58, 58, 58, 0.75);
          width: 285px;
          height: 446px;
          position: absolute;
          display: grid;
          top: 0;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease, visibility 0.3s ease;

          .arrage-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            button {
              font-family: "Poppins";
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
              text-align: left;
              background-color: #ffffff;
              color: #b88e2f;
              padding: 12px 59px;
              border: none;
              cursor: pointer;
              &:hover {
                transform: scale(1.05);
                color: #806422;
              }
            }
            .links-icons {
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              flex-direction: row;
              padding-top: 24px;
              gap: 20px;
              cursor: pointer;

              .hover-icon {
                display: flex;
                align-items: center;
                gap: 2px;
                color: #ffffff;
                font-family: "Poppins";
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                transition: all 0.3s ease-in;
                &:hover {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
        &:hover .hoverd {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

//Shop-page
#shop-page {
  display: none;
  flex-direction: column;
  .banner-2 {
    background-image: url("./photos/banner-2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 316px;
    .shop-bread-crumb {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      height: 316px;
      flex-direction: column;
      h2 {
        font-family: "Poppins";
        font-size: 48px;
        font-weight: 500;
        line-height: 72px;

        color: #000000;
      }
      .bread-c {
        a {
          text-decoration: none;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          padding-right: 6px;
          color: #000000;
        }
        i {
          font-size: 14px;
          padding-right: 6px;
        }
        span {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
        }
      }
    }
  }
  .display-number {
    display: flex;
    align-items: center;

    background-color: #f9f1e7;
    justify-content: center;
    .showing-nr-p {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 80%;
      padding: 37px 0;

      p {
        border-left: 2px solid #9f9f9f;
        padding-left: 34px;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #000000;
      }
    }
  }
  #products-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding: 46px 0;
    .p-box {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 32px;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 285px;
        height: 446px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        .item {
          display: flex;
          flex-direction: column;
          background-color: #f4f5f7;
          img {
            width: 285px;
            height: 301px;
          }
          .info {
            display: flex;
            flex-direction: column;
            padding: 16px 16px 30px 16px;
            height: 99px;

            h4 {
              font-family: "Poppins";
              font-size: 15px;
              font-weight: 600;
              text-align: left;
              margin-bottom: 8px;
              color: #3a3a3a;
            }
            h6 {
              font-family: "Poppins";
              font-size: 12px;
              font-weight: 500;
              line-height: 24px;
              text-align: left;
              color: #898989;
            }
            p {
              font-family: "Poppins";
              font-size: 17px;
              font-weight: 600;
              line-height: 30px;
              text-align: left;
              color: #3a3a3a;
            }
          }
        }
        .hover {
          background-color: rgba(58, 58, 58, 0.75);
          width: 285px;
          height: 446px;
          position: absolute;
          display: grid;
          top: 0;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease, visibility 0.3s ease;

          .arrage-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            button {
              font-family: "Poppins";
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
              text-align: left;
              background-color: #ffffff;
              color: #b88e2f;
              padding: 12px 59px;
              border: none;
              cursor: pointer;
              &:hover {
                transform: scale(1.05);
                color: #806422;
              }
            }
            .links-icons {
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              flex-direction: row;
              padding-top: 24px;
              gap: 20px;
              cursor: pointer;

              .hover-icon {
                display: flex;
                align-items: center;
                gap: 2px;
                color: #ffffff;
                font-family: "Poppins";
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                transition: all 0.3s ease-in;
                &:hover {
                  transform: scale(1.1);
                }
              }
            }
          }
        }
        &:hover .hoverd {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding-top: 40px;
      gap: 38px;
      button {
        margin-top: 30px;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        border: none;
        background-color: #f9f1e7;
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        color: black;
        align-items: center;
        &:nth-of-type(1) {
          background-color: #b88e2f;
          color: #ffffff;
        }
        &:nth-of-type(4) {
          width: 98px;
        }
        &:hover {
          background-color: #b88e2f;
          color: #ffffff;
        }
      }
    }
  }
}

#single-product-page {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .display-number-bread-c {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f9f1e7;
    padding: 31px 0;
    div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 80%;
      a {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #9f9f9f;
        text-decoration: none;
        padding-right: 14px;
      }
      i {
        font-size: 20px;
        padding-right: 31px;
      }
      span {
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: #000000;
        padding-left: 34px;
        border-left: 2px solid #9f9f9f;
      }
    }
  }
  #single-product {
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .photos-aside {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 32px;
      width: 76px;
      height: 416px;
      padding-right: 31px;
      div {
        width: 76px;
        height: 80px;
        overflow: hidden;
        border-radius: 10px;

        img {
          width: 76px;
          height: 80px;
        }
      }
    }
    .image-product {
      img {
        width: 423px;
        height: 500px;
        border-radius: 10px;
      }
    }
    .detalii {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 105px;
      .detalii-produs {
        border-bottom: 1px solid #d9d9d9;
        width: 606.01px;

        .text-important {
          h2 {
            font-family: "Poppins";
            font-size: 42px;
            font-weight: 400;
            line-height: 63px;
            color: black;
          }
          h4 {
            font-family: "Poppins";
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            color: #9f9f9f;
            padding-bottom: 15px;
          }
          .review {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 13px;
            i {
              height: 18px;
              width: 18px;
              padding-right: 7px;
              padding-top: 5px;
              padding-bottom: 5px;
              &:nth-of-type(5) {
                padding-right: 18px;
              }
            }
            span {
              font-family: "Poppins";
              font-size: 13px;
              font-weight: 400;
              line-height: 19.5px;
              text-align: left;

              border-left: 1px solid #9f9f9f;
              padding-left: 22px;
              padding-top: 5px;
              padding-bottom: 5px;
              display: flex;
              flex-direction: row;
              color: #9f9f9f;
            }
            p {
              padding-left: 5px;
              font-family: "Poppins";
              font-size: 13px;
              font-weight: 400;
              line-height: 19.5px;
              text-align: left;
              color: #9f9f9f;
            }
          }
        }
        .description {
          width: 424px;
          font-family: "Poppins";
          font-size: 13px;
          font-weight: 400;
          line-height: 19.5px;
          text-align: left;
          color: #000000;
          padding-bottom: 22px;
        }

        .size {
          display: flex;
          flex-direction: column;
          margin-bottom: 18px;
          h6 {
            font-family: "Poppins";
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            color: #9f9f9f;
            padding-bottom: 12px;
          }
          .sizes {
            button {
              width: 30px;
              height: 30px;
              border-radius: 5px;
              background-color: #f9f1e7;
              border: none;
              font-family: "Poppins";
              font-size: 13px;
              font-weight: 400;
              line-height: 19.5px;
              text-align: center;
              color: #000000;
              margin-right: 16px;
              transition: all 0.1s ease-out;
            }
            .active {
              background-color: #b88e2f;
              color: #ffffff;
              transition: all 0.4s ease-in;
            }
          }
        }
        .color {
          display: flex;
          flex-direction: column;
          margin-bottom: 32px;
          h6 {
            font-family: "Poppins";
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            color: #9f9f9f;
            padding-bottom: 12px;
          }
          .colors {
            button {
              padding-right: 16px;
              width: 30px;
              height: 30px;
              border-radius: 50px;
              border: none;
              transition: all 0.3s ease;
            }
            .silver {
              background-color: silver;
            }
            .rose {
              background-color: rgb(242, 153, 222);
            }
            .gold {
              background-color: gold;
            }
            .border {
              transform: scale(1.1);
              border: 1px solid black;
            }
          }
        }
        .btns-cart {
          padding-bottom: 60px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 18px;
          .quantity-selector {
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            width: 123px;
            height: 64px;
            gap: 35px;
            border-radius: 10px;
            border: 1px solid #9f9f9f;

            button {
              font-family: "Poppins";
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: center;
              border: none;
              cursor: pointer;
              background: transparent;
            }
          }
          .style {
            width: 215px;
            height: 64px;
            border: 1px solid #000000;
            border-radius: 15px;
            background: transparent;
            font-family: "Poppins";
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            color: #000000;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              background-color: #b88e2f;
              color: white;
              border: 1px solid white;
            }
          }
        }
      }
      .category {
        padding: 41px 0 75px 0;
        .sku {
          span {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #9f9f9f;
            &:nth-of-type(1) {
              padding-right: 86px;
            }
          }
        }
        .jewelery {
          span {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #9f9f9f;
            &:nth-of-type(1) {
              padding-right: 16px;
            }
            &:nth-of-type(2) {
              padding-right: 12px;
            }
          }
        }
      }
    }
  }
}

#cart-checkout {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .banner-2-chechout {
    background-image: url("./photos/banner-2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 316px;
    .checkout-text-middle {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      align-content: center;
      height: 316px;
      flex-direction: column;
      h1 {
        font-family: "Poppins";
        font-size: 48px;
        font-weight: 500;
        line-height: 72px;

        color: #000;
      }
      .bread-crumb-chechout {
        .home-link {
          color: #000;
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
        }
        i {
          padding: 0 6px;
          font: 20px;
        }
        span {
          font-family: "Poppins";
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
          text-align: left;
          color: #000000;
        }
      }
    }
  }
  .information-order {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 200px;
    padding-top: 63px;
    .form-costumer {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      padding: 35px 75px 0;
      gap: 36px;
      h2 {
        font-family: "Poppins";
        font-size: 36px;
        font-weight: 600;
        line-height: 54px;
        text-align: left;
        color: #000;
      }
      form {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 36px;
        .first-last-name {
          display: flex;
          flex-direction: row;
          gap: 31px;
          div {
            display: flex;
            flex-direction: column;
            gap: 22px;
            label {
              font-family: "Poppins";
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              text-align: left;
              color: #000;
            }
            input {
              width: 209.4px;
              height: 73.4px;

              border-radius: 10px;
              border: 1px solid #9f9f9f;
              font-family: "Poppins";
              font-size: 20px;
              font-weight: 500;
              line-height: 24px;
              text-align: left;
              color: #000;
              padding-left: 10px;
            }
          }
        }
        div {
          display: flex;
          flex-direction: column;
          gap: 22px;
          label {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: #000;
          }
          input {
            width: 453px;
            height: 73.4px;

            border-radius: 10px;
            border: 1px solid #9f9f9f;
            font-family: "Poppins";
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: #000;
            padding-left: 10px;
          }
        }
      }
    }
    .cart-checkout-total {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 608px;
      padding: 87px 37px;
      .products-total {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .text-product {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 14px;
          gap: 336px;
          h3 {
            font-family: "Poppins";
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            text-align: left;
            color: #000000;
          }
        }
        .cart-list-check {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          overflow: auto;
          overflow-x: hidden;
          padding-bottom: 22px;
          &::-webkit-scrollbar {
            background: #ded9dda2;
            border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            border: 2px solid #f1f1f1;
          }
          .cart-display {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-bottom: 10px;
            .name-quantity {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 11px;
              h4 {
                font-family: "Poppins";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                color: #9f9f9f;
              }
              span {
                font-family: "Poppins";
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
                text-align: left;
                color: #000;
              }
              p {
                font-family: "Poppins";
                font-size: 12px;
                font-weight: 500;
                line-height: 18px;
                text-align: left;
                color: #000;
              }
            }
            span {
              font-family: "Poppins";
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              text-align: left;
              color: #000;
            }
          }
        }
        .subtotal-checkout {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding-bottom: 22px;
          h5 {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #000;
          }
          span {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: #000;
          }
        }

        .total {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding-bottom: 39px;
          border-bottom: 1px solid #d9d9d9;
          h5 {
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #000;
          }
          span {
            font-family: "Poppins";
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            text-align: left;
            color: #b88e2f;
          }
        }
      }
      .order-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .chas-deliver {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          width: 100%;
          padding-top: 22px;
          form {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            label {
              display: flex;
              align-items: center;
              flex-direction: row;
              gap: 15px;

              h3 {
                font-family: "Poppins";
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                color: #000;
              }
              input[type="radio"] {
                accent-color: black;

                transform: scale(1.1);
                &:checked {
                  accent-color: black; // You can specify a different color if needed
                }

                &:hover {
                  accent-color: gray; // Optional: Change color on hover
                }
              }
            }
          }
        }
        .submit-order {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-top: 60px;

          p {
            padding-bottom: 39px;
            width: 529px;
            font-family: "Poppins";
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            text-align: justify;
            color: #000;
            span {
              font-family: "Poppins";
              font-size: 16px;
              font-weight: 600;
              line-height: 24px;
              text-align: justify;
              color: #000;
            }
          }
          .sumbitorderbtn {
            cursor: pointer;
            width: 318px;
            height: 64px;
            border-radius: 15px;
            background: transparent;
            color: #000;
            border: 1px solid #000000;
            font-family: "Poppins";
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            transition: all 0.3s ease-in;
            &:hover {
              background-color: #b88e2f;
              color: white;
              border: 1px solid #ffffff;
            }
          }
        }
      }
    }
  }
}

/* Extra Small Devices (Mobile Portrait) - up to 480px */
@media only screen and (max-width: 480px) {
  header {
    #box {
      .logo-links {
        .logo {
          img {
            display: none;
          }
          span {
            font-size: 13px;
          }
        }
        nav {
          display: none;
        }
      }
      #cart-icon {
        span {
          font-size: 20px;
        }
      }
    }
  }
  footer {
    .upper-part {
      display: none;
    }
  }
  #home-page {
    .banner-1 {
      background-position: center;

      .discover {
        display: none;
      }
    }

    .our-products {
      .p-box {
        gap: 10%;
        row-gap: 40px;
      }
    }
  }
  #shop-page {
    .banner-2 {
      background-position: center;
    }

    #products-display {
      .p-box {
        gap: 10%;
        row-gap: 40px;
      }
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header {
    #box {
      .logo-links {
        gap: 0;
        width: 70%;
      }
    }
  }
  footer {
    .upper-part {
      .newsletter {
        display: none;
      }
    }
  }
  #home-page {
    .banner-1 {
      .discover {
        max-width: 500px;
        max-height: 400px;
        .text-new {
          padding: 30px;
          h6 {
            font-size: 13px;
          }
          h2 {
            font-size: 35px;
            line-height: 50px;
          }
          p {
            font-size: 15px;
          }

          button {
            max-width: 190px;
            padding: 25px 40px;
          }
        }
      }
    }

    .our-products {
      .p-box {
        gap: 10%;
        row-gap: 40px;
      }
    }
  }
  #shop-page {
    .banner-2 {
      background-position: center;
    }

    #products-display {
      .p-box {
        gap: 10%;
        row-gap: 40px;
      }
    }
  }
}

/* Large Devices (Laptops) - 1025px to 1200px */
@media only screen and (min-width: 769px) and (max-width: 1300px) {
  header {
    #box {
      .logo-links {
        gap: 0;
        width: 70%;
      }
    }
  }

  #home-page {
    .our-products {
      .p-box {
        .card {
          &:nth-of-type(2) {
            display: none;
          }
        }
      }
    }
  }
  #shop-page {
    .banner-2 {
      background-position: center;
    }

    #products-display {
      .p-box {
        gap: 10%;
        row-gap: 40px;
      }
    }
  }
}
